* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Nunito', sans-serif;
}

div.pg-width {
  width: 900px;
  /* height: 806px; */
  margin: 0 auto;
  /* height: 500px;
  background-color: green; */
}

.left-content-box {
  /* height: 791px; */
  width: 160px;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  padding: 15px;
}

.poke-bowl-box {
  /* margin: 30px 0 0 30px; */
  margin-top: 10px;
}

.poke-bowl-box > p, .poke-bowl-box > span {
  font-size: 45px;
  font-style: italic;
}

.poke-bowl-box > p {
  color: red;
}

.poke-bowl-box > div {
  height: 30px;
  width: 30px;
  border: 5px solid black;
  border-radius: 10px;
  display: inline-block;
}

ul {
  list-style-type: none;
}

ul.links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

ul.links > li {
  margin-top: 20px
}

div.hours-box {
  margin-top: 10px;
}

div.hours-box > p {
  font-size: 15px;
  color: gray
}

.map-box {
  height: 120px;
  /* width: 100px; */
  border: 2px solid black;
  margin-top: 10px;
}



.pg-width > div {
  display: inline-block
}

.right-content-box {
  height: 668px;
  width: 675px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  vertical-align: top;
}

.video-content-box {
  height: 50%;
  border-bottom: 3px solid black;
  padding: 15px;
}

/* Video goes here */
.video-content-box > div {
  border: 1px solid black;
  height: 100%;
}

.lower-content-box {
  /* height: 50%; */
  padding: 15px;
}

.lower-content-box > div {
  display: inline-block;
}

.blue-box {
  height: 272px;
  background-color: #397bd8;
  width: 60%;
  border-radius: 25px;
}

.blue-box > h1 {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

#white-circle {
  border-radius: 50px;
  height: 42px;
  background-color: white;
  width: 40px;
  color: #397bd8;
  font-size: 35px;
  text-align: center;
  display: inline-block;
}

.choose-protein-box {
  margin-left: 10px;
  margin-top: 15px;
}

#blue-box-text {
  font-size: 25px;
  color: white;
  margin-left: 10px;
  vertical-align: super;
}

img {
  height: 100%;
  width: 100%;
}

.pick-your-base {
  margin-left: 60px;
  margin-top: 15px;
}

.select-a-marinade {
  margin-left: 100px;
  margin-top: 15px;
}

#top-txt-box {
  margin-top: 20px;
}