body {
  color: white;
  /* font-family: sans-serif; */
}

.page-container {
  width: 970px;
  background-color: #245076;
  min-height: 1075px;
}

.text-size-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  height: 35px;
}

div.text-size-box > p {
}

div.text-size-box > a {
  margin-left: 8px;
  color: #debf3b;
  text-decoration: underline;
  text-decoration-color: #debf3b;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

img {
  height: 100px;
  margin-left: 25px;
}

.charcoal-box {
  width: 275px;
  background-color: #444444;
  height: 60px;
  border-radius: 15px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[name="search-box"] {
  height: 45%;
  border: 2px solid darkgrey;
  text-align: center;
  width: 55%;
}

button.go-search-btn {
  height: 45%;
  background-color: #3b458c;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-left: 8px;
  width: 15%;
}

.nav {
  width: 88%;
  background-color: #487fad;
  height: 52px;
  border-radius: 6px;
  margin-left: 82px;
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

div.nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav * {
  text-decoration: none;
  color: white;
  font-size: 26px;
}

ul#sub-menu li a {
  color: white;
  font-size: 20px;
}

ul#sub-menu {
  margin-top: 36px;
}

ul#sub-menu li {
  margin-top: 8px;
}

#yellow-arrows {
  color: #fdd32f;
  margin-right: 8px;
  font-size: 9px;
}

.top-content {
  display: flex;
}

.top-content-text {
  text-align: center;
  width: 700px;
  margin-left: 24px;
  margin-right: 20px;
}

.sub-menu-links {
  text-align: center;
  margin-left: 60px;
  width: 251px;
}

.yellow-text p {
  font-size: 22px;
  color: #fdd32f;
  text-align: center;
  text-decoration: italic;
}

div.yellow-text p:nth-last-child(1) {
  color: white;
}

.white-content {
  background-color: white;
  min-height: 300px;
  width: 100%;
}

#left,
#right {
  height: 275px;
  width: 325px;
  margin-right: 10px;
  border-top: 5px solid #487fad;
}

div.white-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.white-content * {
  text-align: center;
  margin-bottom: 6px;
}

#left h3,
#right h3 {
  color: black;
  margin: 0;
}

#left ul.useful-links,
#right ul {
  list-style-type: square;
  margin: 0;
}

#right li,
#left li {
  color: black;
}

#left li a,
#right li a {
  color: #487fad;
  text-decoration: none;
  font-size: 18px;
}

#left p,
#right p {
  color: black;
  font-size: 20px;
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  color: #ffffff7d;
}

footer p {
  font-size: 20px;
  margin: 80px 30px;
}

footer span {
  font-size: 10px;
  position: absolute;
  margin-top: 125px;
}
